<div class="page-header">
    <h1>Home</h1>
</div>

<a ui-sref="addclass"><button class="btn btn-primary">Add Class</button></a>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Classes</div>
    <ul class="list-group">
        <a class="list-group-item" ng-repeat="class in vm.classes" ui-sref="manageclass({class: class._id})">
            <span ng-bind="class.classname"></span>
        </a>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Api facial functions</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary" ng-click="vm.detectFaces()">Detect Faces</button>
        <button class="btn btn-success" ng-click="vm.enroll()">Enroll Person</button>
        <button class="btn btn-warning" ng-click="vm.recognize()">Recognize Person</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Api database</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-info" ng-click="vm.listAllGalleries()">List All Galleries</button>
        <br>
        <span ng-repeat="gallery in vm.galleries">{{gallery}}</span>

        <hr>
        <button class="btn btn-info" ng-click="vm.listFacesInGallery()">List faces in gallery</button>
        <br>
        <span ng-repeat="face in vm.faces track by $index">{{face}}<br></span>
    </div>
</div>
