<div class="container">
    <h1>Sign In</h1>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="username"/>
        <input type="password" class="form-control" placeholder="password"/>
    </div>


    <div class="row">
        <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-danger">Cancel</button>
    </div>
    <div class="row">
        <p>Don't have an account? Click <a ui-sref="signup">here</a> to create a new account.</p>
    </div>
</div>
