<div class="container">
    <h1>Sign Up</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="username"/>
        <input type="password" class="form-control" placeholder="password"/>
        <input type="password" class="form-control" placeholder="confirm password"/>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary">Signup</button>

        <a ui-sref="login"><button type="button" class="btn btn-danger">Cancel</button></a>
    </div>
    <div class="row">
        <p>Already have an account? Click <a ui-sref="login">here</a> to login.</p>
    </div>
</div>
