<script type="text/javascript"
        src="//api.filestackapi.com/filestack.js"></script>

<div>
    <h2>Take an image to check to see who it is.</h2>
    <div id="my_camera" style="width:320px; height:240px;"></div>

    <button class="btn btn-primary" ng-click="vm.takeSnapshot()">Take Snapshot</button>
</div>

<div ng-if="vm.dataUri">
    <h2>This is the image you took. Do you want to use this image?</h2>
    <img src="{{vm.dataUri}}"><br>
    <button class="btn btn-primary" ng-click="vm.uploadImage()">Yes</button>
    <button class="btn btn-default" ng-click="vm.cancelUpload()">No</button>
</div>

<input type="filepicker" data-fp-apikey="AiCMd0VpTQGmtYJqo6gGaz" onchange="angular.element(this).scope().vm.newPicture = event.fpfile.url" >


<script>
    Webcam.attach( '#my_camera' );
</script>